<div class="container">
  <%= notice %>
  <% if alert %>
    <text class="text-danger"><%= alert %></text>
  <% end %>
  <div class="jumbotron text-center main-background-img">
    <h2>
      <font color=red>ギ</font><font color=#ffd700>ター</font><font color=white>の</font><font color=red>レ</font><font color=#ffd700>シピ</font>
      <br>
      <font color=white>会員管理データベース</font>
    </h2>
  </div>
  <section class="container-fluid top-content">
    <h1>登録情報を見る</h1>
    <hr>
    <div class="row">
      <div class="col col-sm-4">
        <div class="jumbotron text-center j-top">
          <p>現在のユーザー数</p>
          <p><%= User.count %>名</p>
          <%= link_to '一覧を見る' , users_path, :class => 'btn btn-default' %>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="jumbotron text-center j-top">
          <p>現在の商品数</p>
          <p><%= Product.count %> 個</p>
          <%= link_to '一覧を見る' , products_path, :class => 'btn btn-default' %>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="jumbotron text-center j-top">
          <p>購入履歴</p>
          <p><%= Purchase.count%>件</p>
          <%= link_to '一覧を見る' , purchases_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <div/>
    <div class="row">
      <!--<h4>現在のイベント数: <%= @events_num %></h4>-->
      <div class="col-sm-12">
        <hr class="hr-h1">
        <br>
        <h1>ユーザーを検索する</h1>
        <hr>
      </div>
      <div class="col-sm-4">
        <%= form_tag(user_search_search_index_path, :method => :get) do %>
          <table class="table table-hover">
            <tr>
              <td>名前</td>
              <td><%= text_field_tag :name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= text_field_tag :email %></td>
            </tr>
          </table>
          <%= submit_tag "検索" , :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr class="hr-h1">
        <br>
        <h1>購入履歴から検索する</h1>
        <hr>
      </div>
      <div class="col-sm-12">
        <%= form_tag(product_search_search_index_path, :method => :get, :class => "form form-inline") do %>
          <%= collection_select(:product, :product_id, Product.all, :id, :title, {:prompt => '商品を選択してください'}, {:class => "form-control"}) %>
          を
          <%= select(:has_or_not, :has, [['持っている人',"yes"],['持っていない人', "no"]], {}, {:class => "form-control"}) %>
          <br><br>
          <%= submit_tag "検索" , :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr class="hr-h1">
        <br>
        <h1>登録する</h1>
        <hr>
        <h4>CSVから情報をインポートする</h4>
        <%#= form_tag paypals_import_path, multipart: true do %>
        <%= form_tag csv_import_path, multipart: true do %>
            <%= file_field_tag :file %>
          <br>
          <%= submit_tag 'paypal履歴からのインポート', :class => 'btn btn-default' %>
          <%= submit_tag 'infotop履歴からのインポート', :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr class="hr-h1">
        <br>
        <h1>削除する</h1>
        <%= link_to '全件削除', top_path, :class => 'btn btn-danger', :method => 'delete', data: {confirm: '本当に削除していいですか？' }  %>
      </div>
  </section>
</div>
