<h1>ギター会員管理データベース</h1>
<h3>現在の会員数: <%= @users_num %></h3>
<h3>現在の商品数: <%= @products_num %></h3>
<br></br>
<%= link_to 'ユーザー管理ページへ', users_path %>
<%= link_to '商品管理ページへ', products_path %>
<br>
<%= link_to '購入履歴の登録', new_purchase_path %><br>
<%= link_to '検索ページへ', search_index_path %>