<h1>インポート結果: <%= @result %></h1>
<p>読み込んだ行数: <%= @total_column %></p>
<p>新規登録したユーザ: <%= @user_num %></p>
<p>新規登録した商品: <%= @product_num %></p>
<p>新規登録した購入履歴: <%= @purchase_num %></p>
<%= link_to 'TOP', root_path, class: 'btn btn-default' %>