<h1><%= @product.title %>を持っている人</h1>
検索結果: <%= @purchases.count %>件<br>
  <section class="container-fluid"><div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table table-hover table-bordered">
      <thead class="thead-default">
        <tr>
          <th class="info">名前</th>
          <th class="info">メールアドレス</th>
        </tr>
      </thead>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= User.find(purchase.user_id).name %></td>
          <td><%= User.find(purchase.user_id).email %></td>
        </tr>
      <% end %>
      <!--### ユーザ毎に繰り返し ###-->
        <!-- ### ここからテーブルの1列 ###-->
    </table>
  </div></div></section>
<% else %>
  <p>no user</p>
<% end %>
<%= link_to '戻る' , :back, :class => 'btn btn-default' %>
<%= link_to 'TOP' , root_path, :class => 'btn btn-default' %>