<h1>search result</h1>
検索結果: <%= @users.count %>件<br>
<% if @users.count != 0 %>
  <section class="container-fluid"><div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table table-hover table-bordered">
      <thead class="thead-default">
        <tr>
          <th colspan="2" class="info">ユーザ情報</th>
          <th colspan="<%= @products.count %>" class="warning">購入履歴</th>
        </tr>
        <tr>
          <th class="info">名前</th>
          <th class="info">メールアドレス</th>
          <% @products.each do |product| %>
            <th class="warning"><%= product.title %></th>
          <% end %>
        </tr>
      </thead>
      
      <!--### ユーザ毎に繰り返し ###-->
      <% @users.each do |user| %>
        <!-- ### ここからテーブルの1列 ###-->
        <tr>
          <!--### ユーザの属性を表示 ###-->
          <%# @user_column.each do |c| %>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= link_to user.email, user_path(user.id) %></td>
            <!--<td><%#= user[:"#{c}"] %></td>-->
          <%# end %>
          
          <!--### ユーザの購入履歴を表示 ###-->
          <% @purchases.each do |purchase| %>
            <% if purchase.user_id == user.id %>
              <% @products.each do |product| %>
                <% if purchase.user_id == user.id && purchase.product_id == product.id %>
                  <td>購入済み</td>
                <% else %>
                  <td>-</td>
                <% end %>
              <% end %> <!-- @products.each do |product| -->
            <% end %> <!-- if purchaase.user_id == user.id -->
          <% end %> <!-- @purchases.each do |purchase| -->
        </tr>
      <% end %>
    </table>
  </div></div></section>
<% else %>
  <p>no user</p>
<% end %>
<%= link_to '戻る' , :back, :class => 'btn btn-default' %>
<%= link_to 'TOP' , root_path, :class => 'btn btn-default' %>